<article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
        </a>
    {{/if}}
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                {{#if primary_tag}}
                    <span class="post-card-tags">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>
        <footer class="post-card-meta row">
            {{#if author.profile_image}}
                <div class="col-sm-2 profile-image">
                    <img class="author-profile-image" src="{{author.profile_image}}" alt="{{author.name}}" />
                </div>
            {{/if}}
            <div class="post-card-author col-sm-10">
                <span class="author-name">{{author}}</span><br>
                <time class="date post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time><br>
                <span class="read">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>

            </div>
        </footer>
    </div>
</article>